<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\Database1;Initial Catalog=E:\SIBINTEK_TEST-MASTER\TEST_SIBINTEK\SERVER_SIBINTEK.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>